In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv(r"C:\Users\santosh nandam\Downloads\50_Startups_EDA.csv")
data

,R&D Spend,Sales,Administration,Marketing Spend,State,Profit
0,210983.00,210983.00,20938.00,635.00,Chennai,210937.00
1,327849.00,327849.00,28746.00,948.00,Chennai,384664.00
2,210983.00,210983.00,20938.00,NaN,Chennai,210937.00
3,327849.00,327849.00,NaN,948.00,Chennai,384664.00
4,165349.20,165349.20,136897.80,471784.10,Chennai,192261.83
5,162597.70,162597.70,151377.59,443898.53,Trichy,191792.06
6,153441.51,153441.51,101145.55,407934.54,Coimbatore,191050.39
7,144372.41,144372.41,118671.85,383199.62,Chennai,182901.99
8,142107.34,142107.34,91391.77,366168.42,Coimbatore,166187.94
9,142107.34,142107.34,91391.77,366168.42,Coimbatore,166187.94
10,134615.46,134615.46,147198.87,127716.82,Trichy,156122.51
11,131876.90,131876.90,99814.71,362861.36,Chennai,156991.12
12,130298.13,130298.13,145530.06,323876.68,Coimbatore,155752.60
13,123334.88,123334.88,108679.17,304981.62,Trichy,149759.96
14,120542.52,120542.52,148718.95,311613.29,Chennai,152211.77
15,119943.24,119943.24,156547.42,256512.92,Coimbatore,132602.65
16,114523.61,114523.61,122616.84,261776.23,Chennai,129917.04
17,101913.08,101913.08,110594.11,229160.95,Coimbatore,146121.95
18,100671.96,100671.96,91790.61,249744.55,Trichy,144259.40
19,94657.16,94657.16,145077.58,282574.31,Chennai,125370.37
20,93863.75,93863.75,127320.38,249839.44,Coimbatore,141585.52
21,91992.39,91992.39,135495.07,252664.93,Trichy,134307.35
22,91749.16,91749.16,114175.79,294919.57,Coimbatore,124266.90
23,86419.70,86419.70,153514.11,0.00,Chennai,122776.86
24,78389.47,78389.47,153773.43,299737.29,Chennai,111313.02
25,78013.11,78013.11,121597.55,264346.06,Trichy,126992.93
26,77044.01,77044.01,99281.34,140574.81,Chennai,108552.04
27,76253.86,76253.86,113867.30,298664.47,Trichy,118474.03
28,75328.87,75328.87,144135.98,134050.07,Coimbatore,105733.54
29,75328.87,75328.87,144135.98,134050.07,Coimbatore,105733.54
30,73994.56,73994.56,122782.75,303319.26,Coimbatore,110352.25
31,72107.60,72107.60,127864.55,353183.81,Chennai,105008.31
32,67532.53,67532.53,105751.03,304768.73,Coimbatore,108733.99
33,66051.52,66051.52,182645.56,118148.20,Coimbatore,103282.38
34,65605.48,65605.48,153032.06,107138.38,Chennai,101004.64
35,64664.71,64664.71,139553.16,137962.62,Trichy,107404.34
36,64664.71,64664.71,139553.16,137962.62,Trichy,107404.34
37,63408.86,63408.86,129219.61,46085.25,Trichy,97427.84
38,61994.48,61994.48,115641.28,91131.24,Coimbatore,99937.59
39,61136.38,61136.38,152701.92,88218.23,Chennai,97483.56
40,55493.95,55493.95,103057.49,214634.81,Coimbatore,96778.92
41,46426.07,46426.07,157693.92,210797.67,Trichy,96712.80
42,46014.02,46014.02,85047.44,205517.64,Chennai,96479.51
43,44069.95,44069.95,51283.14,197029.42,Trichy,89949.14
44,38558.51,38558.51,82982.09,174999.30,Trichy,81005.76
45,28754.33,28754.33,118546.05,172795.67,Trichy,78239.91
46,28663.76,28663.76,127056.21,201126.82,Coimbatore,90708.19
47,27892.92,27892.92,84710.77,164470.71,Coimbatore,77798.83
48,23640.93,23640.93,96189.63,148001.11,Trichy,71498.49
49,22177.74,22177.74,154806.14,28334.72,Trichy,65200.33
50,20229.59,20229.59,65947.93,185265.10,Chennai,81229.06
51,15505.73,15505.73,127382.30,35534.17,Chennai,69758.98
52,15505.73,15505.73,127382.30,35534.17,Chennai,69758.98
53,15505.73,15505.73,127382.30,35534.17,Chennai,69758.98
54,15505.73,15505.73,127382.30,35534.17,Chennai,69758.98
55,1315.46,1315.46,115816.21,297114.46,Coimbatore,49490.75
56,1000.23,1000.23,124153.04,1903.93,Chennai,64926.08
57,542.05,542.05,51743.15,0.00,Chennai,35673.41
58,NaN,NaN,135426.92,NaN,Trichy,42559.73
59,0.00,0.00,116983.80,45173.06,Trichy,14681.40

In [7]:
data_1 = pd.get_dummies(data,['State'])
data_1

,R&D Spend,Sales,Administration,Marketing Spend,Profit,State_Chennai,State_Coimbatore,State_Trichy
0,210983.00,210983.00,20938.00,635.00,210937.00,True,False,False
1,327849.00,327849.00,28746.00,948.00,384664.00,True,False,False
2,210983.00,210983.00,20938.00,NaN,210937.00,True,False,False
3,327849.00,327849.00,NaN,948.00,384664.00,True,False,False
4,165349.20,165349.20,136897.80,471784.10,192261.83,True,False,False
5,162597.70,162597.70,151377.59,443898.53,191792.06,False,False,True
6,153441.51,153441.51,101145.55,407934.54,191050.39,False,True,False
7,144372.41,144372.41,118671.85,383199.62,182901.99,True,False,False
8,142107.34,142107.34,91391.77,366168.42,166187.94,False,True,False
9,142107.34,142107.34,91391.77,366168.42,166187.94,False,True,False
10,134615.46,134615.46,147198.87,127716.82,156122.51,False,False,True
11,131876.90,131876.90,99814.71,362861.36,156991.12,True,False,False
12,130298.13,130298.13,145530.06,323876.68,155752.60,False,True,False
13,123334.88,123334.88,108679.17,304981.62,149759.96,False,False,True
14,120542.52,120542.52,148718.95,311613.29,152211.77,True,False,False
15,119943.24,119943.24,156547.42,256512.92,132602.65,False,True,False
16,114523.61,114523.61,122616.84,261776.23,129917.04,True,False,False
17,101913.08,101913.08,110594.11,229160.95,146121.95,False,True,False
18,100671.96,100671.96,91790.61,249744.55,144259.40,False,False,True
19,94657.16,94657.16,145077.58,282574.31,125370.37,True,False,False
20,93863.75,93863.75,127320.38,249839.44,141585.52,False,True,False
21,91992.39,91992.39,135495.07,252664.93,134307.35,False,False,True
22,91749.16,91749.16,114175.79,294919.57,124266.90,False,True,False
23,86419.70,86419.70,153514.11,0.00,122776.86,True,False,False
24,78389.47,78389.47,153773.43,299737.29,111313.02,True,False,False
25,78013.11,78013.11,121597.55,264346.06,126992.93,False,False,True
26,77044.01,77044.01,99281.34,140574.81,108552.04,True,False,False
27,76253.86,76253.86,113867.30,298664.47,118474.03,False,False,True
28,75328.87,75328.87,144135.98,134050.07,105733.54,False,True,False
29,75328.87,75328.87,144135.98,134050.07,105733.54,False,True,False
30,73994.56,73994.56,122782.75,303319.26,110352.25,False,True,False
31,72107.60,72107.60,127864.55,353183.81,105008.31,True,False,False
32,67532.53,67532.53,105751.03,304768.73,108733.99,False,True,False
33,66051.52,66051.52,182645.56,118148.20,103282.38,False,True,False
34,65605.48,65605.48,153032.06,107138.38,101004.64,True,False,False
35,64664.71,64664.71,139553.16,137962.62,107404.34,False,False,True
36,64664.71,64664.71,139553.16,137962.62,107404.34,False,False,True
37,63408.86,63408.86,129219.61,46085.25,97427.84,False,False,True
38,61994.48,61994.48,115641.28,91131.24,99937.59,False,True,False
39,61136.38,61136.38,152701.92,88218.23,97483.56,True,False,False
40,55493.95,55493.95,103057.49,214634.81,96778.92,False,True,False
41,46426.07,46426.07,157693.92,210797.67,96712.80,False,False,True
42,46014.02,46014.02,85047.44,205517.64,96479.51,True,False,False
43,44069.95,44069.95,51283.14,197029.42,89949.14,False,False,True
44,38558.51,38558.51,82982.09,174999.30,81005.76,False,False,True
45,28754.33,28754.33,118546.05,172795.67,78239.91,False,False,True
46,28663.76,28663.76,127056.21,201126.82,90708.19,False,True,False
47,27892.92,27892.92,84710.77,164470.71,77798.83,False,True,False
48,23640.93,23640.93,96189.63,148001.11,71498.49,False,False,True
49,22177.74,22177.74,154806.14,28334.72,65200.33,False,False,True
50,20229.59,20229.59,65947.93,185265.10,81229.06,True,False,False
51,15505.73,15505.73,127382.30,35534.17,69758.98,True,False,False
52,15505.73,15505.73,127382.30,35534.17,69758.98,True,False,False
53,15505.73,15505.73,127382.30,35534.17,69758.98,True,False,False
54,15505.73,15505.73,127382.30,35534.17,69758.98,True,False,False
55,1315.46,1315.46,115816.21,297114.46,49490.75,False,True,False
56,1000.23,1000.23,124153.04,1903.93,64926.08,True,False,False
57,542.05,542.05,51743.15,0.00,35673.41,True,False,False
58,NaN,NaN,135426.92,NaN,42559.73,False,False,True
59,0.00,0.00,116983.80,45173.06,14681.40,False,False,True

In [9]:
data_1[['State_Chennai','State_Coimbatore','State_Trichy']]=data_1[['State_Chennai','State_Coimbatore','State_Trichy']].astype(int)
data_1

,R&D Spend,Sales,Administration,Marketing Spend,Profit,State_Chennai,State_Coimbatore,State_Trichy
0,210983.00,210983.00,20938.00,635.00,210937.00,1,0,0
1,327849.00,327849.00,28746.00,948.00,384664.00,1,0,0
2,210983.00,210983.00,20938.00,NaN,210937.00,1,0,0
3,327849.00,327849.00,NaN,948.00,384664.00,1,0,0
4,165349.20,165349.20,136897.80,471784.10,192261.83,1,0,0
5,162597.70,162597.70,151377.59,443898.53,191792.06,0,0,1
6,153441.51,153441.51,101145.55,407934.54,191050.39,0,1,0
7,144372.41,144372.41,118671.85,383199.62,182901.99,1,0,0
8,142107.34,142107.34,91391.77,366168.42,166187.94,0,1,0
9,142107.34,142107.34,91391.77,366168.42,166187.94,0,1,0
10,134615.46,134615.46,147198.87,127716.82,156122.51,0,0,1
11,131876.90,131876.90,99814.71,362861.36,156991.12,1,0,0
12,130298.13,130298.13,145530.06,323876.68,155752.60,0,1,0
13,123334.88,123334.88,108679.17,304981.62,149759.96,0,0,1
14,120542.52,120542.52,148718.95,311613.29,152211.77,1,0,0
15,119943.24,119943.24,156547.42,256512.92,132602.65,0,1,0
16,114523.61,114523.61,122616.84,261776.23,129917.04,1,0,0
17,101913.08,101913.08,110594.11,229160.95,146121.95,0,1,0
18,100671.96,100671.96,91790.61,249744.55,144259.40,0,0,1
19,94657.16,94657.16,145077.58,282574.31,125370.37,1,0,0
20,93863.75,93863.75,127320.38,249839.44,141585.52,0,1,0
21,91992.39,91992.39,135495.07,252664.93,134307.35,0,0,1
22,91749.16,91749.16,114175.79,294919.57,124266.90,0,1,0
23,86419.70,86419.70,153514.11,0.00,122776.86,1,0,0
24,78389.47,78389.47,153773.43,299737.29,111313.02,1,0,0
25,78013.11,78013.11,121597.55,264346.06,126992.93,0,0,1
26,77044.01,77044.01,99281.34,140574.81,108552.04,1,0,0
27,76253.86,76253.86,113867.30,298664.47,118474.03,0,0,1
28,75328.87,75328.87,144135.98,134050.07,105733.54,0,1,0
29,75328.87,75328.87,144135.98,134050.07,105733.54,0,1,0
30,73994.56,73994.56,122782.75,303319.26,110352.25,0,1,0
31,72107.60,72107.60,127864.55,353183.81,105008.31,1,0,0
32,67532.53,67532.53,105751.03,304768.73,108733.99,0,1,0
33,66051.52,66051.52,182645.56,118148.20,103282.38,0,1,0
34,65605.48,65605.48,153032.06,107138.38,101004.64,1,0,0
35,64664.71,64664.71,139553.16,137962.62,107404.34,0,0,1
36,64664.71,64664.71,139553.16,137962.62,107404.34,0,0,1
37,63408.86,63408.86,129219.61,46085.25,97427.84,0,0,1
38,61994.48,61994.48,115641.28,91131.24,99937.59,0,1,0
39,61136.38,61136.38,152701.92,88218.23,97483.56,1,0,0
40,55493.95,55493.95,103057.49,214634.81,96778.92,0,1,0
41,46426.07,46426.07,157693.92,210797.67,96712.80,0,0,1
42,46014.02,46014.02,85047.44,205517.64,96479.51,1,0,0
43,44069.95,44069.95,51283.14,197029.42,89949.14,0,0,1
44,38558.51,38558.51,82982.09,174999.30,81005.76,0,0,1
45,28754.33,28754.33,118546.05,172795.67,78239.91,0,0,1
46,28663.76,28663.76,127056.21,201126.82,90708.19,0,1,0
47,27892.92,27892.92,84710.77,164470.71,77798.83,0,1,0
48,23640.93,23640.93,96189.63,148001.11,71498.49,0,0,1
49,22177.74,22177.74,154806.14,28334.72,65200.33,0,0,1
50,20229.59,20229.59,65947.93,185265.10,81229.06,1,0,0
51,15505.73,15505.73,127382.30,35534.17,69758.98,1,0,0
52,15505.73,15505.73,127382.30,35534.17,69758.98,1,0,0
53,15505.73,15505.73,127382.30,35534.17,69758.98,1,0,0
54,15505.73,15505.73,127382.30,35534.17,69758.98,1,0,0
55,1315.46,1315.46,115816.21,297114.46,49490.75,0,1,0
56,1000.23,1000.23,124153.04,1903.93,64926.08,1,0,0
57,542.05,542.05,51743.15,0.00,35673.41,1,0,0
58,NaN,NaN,135426.92,NaN,42559.73,0,0,1
59,0.00,0.00,116983.80,45173.06,14681.40,0,0,1

In [11]:
X=data_1.loc[:,["R&D Spend","Sales","Administration","Marketing Spend","State_Chennai","State_Coimbatore","State_Trichy"]]
Y=data.loc[:,"Profit"]

In [13]:
X

,R&D Spend,Sales,Administration,Marketing Spend,State_Chennai,State_Coimbatore,State_Trichy
0,210983.00,210983.00,20938.00,635.00,1,0,0
1,327849.00,327849.00,28746.00,948.00,1,0,0
2,210983.00,210983.00,20938.00,NaN,1,0,0
3,327849.00,327849.00,NaN,948.00,1,0,0
4,165349.20,165349.20,136897.80,471784.10,1,0,0
5,162597.70,162597.70,151377.59,443898.53,0,0,1
6,153441.51,153441.51,101145.55,407934.54,0,1,0
7,144372.41,144372.41,118671.85,383199.62,1,0,0
8,142107.34,142107.34,91391.77,366168.42,0,1,0
9,142107.34,142107.34,91391.77,366168.42,0,1,0
10,134615.46,134615.46,147198.87,127716.82,0,0,1
11,131876.90,131876.90,99814.71,362861.36,1,0,0
12,130298.13,130298.13,145530.06,323876.68,0,1,0
13,123334.88,123334.88,108679.17,304981.62,0,0,1
14,120542.52,120542.52,148718.95,311613.29,1,0,0
15,119943.24,119943.24,156547.42,256512.92,0,1,0
16,114523.61,114523.61,122616.84,261776.23,1,0,0
17,101913.08,101913.08,110594.11,229160.95,0,1,0
18,100671.96,100671.96,91790.61,249744.55,0,0,1
19,94657.16,94657.16,145077.58,282574.31,1,0,0
20,93863.75,93863.75,127320.38,249839.44,0,1,0
21,91992.39,91992.39,135495.07,252664.93,0,0,1
22,91749.16,91749.16,114175.79,294919.57,0,1,0
23,86419.70,86419.70,153514.11,0.00,1,0,0
24,78389.47,78389.47,153773.43,299737.29,1,0,0
25,78013.11,78013.11,121597.55,264346.06,0,0,1
26,77044.01,77044.01,99281.34,140574.81,1,0,0
27,76253.86,76253.86,113867.30,298664.47,0,0,1
28,75328.87,75328.87,144135.98,134050.07,0,1,0
29,75328.87,75328.87,144135.98,134050.07,0,1,0
30,73994.56,73994.56,122782.75,303319.26,0,1,0
31,72107.60,72107.60,127864.55,353183.81,1,0,0
32,67532.53,67532.53,105751.03,304768.73,0,1,0
33,66051.52,66051.52,182645.56,118148.20,0,1,0
34,65605.48,65605.48,153032.06,107138.38,1,0,0
35,64664.71,64664.71,139553.16,137962.62,0,0,1
36,64664.71,64664.71,139553.16,137962.62,0,0,1
37,63408.86,63408.86,129219.61,46085.25,0,0,1
38,61994.48,61994.48,115641.28,91131.24,0,1,0
39,61136.38,61136.38,152701.92,88218.23,1,0,0
40,55493.95,55493.95,103057.49,214634.81,0,1,0
41,46426.07,46426.07,157693.92,210797.67,0,0,1
42,46014.02,46014.02,85047.44,205517.64,1,0,0
43,44069.95,44069.95,51283.14,197029.42,0,0,1
44,38558.51,38558.51,82982.09,174999.30,0,0,1
45,28754.33,28754.33,118546.05,172795.67,0,0,1
46,28663.76,28663.76,127056.21,201126.82,0,1,0
47,27892.92,27892.92,84710.77,164470.71,0,1,0
48,23640.93,23640.93,96189.63,148001.11,0,0,1
49,22177.74,22177.74,154806.14,28334.72,0,0,1
50,20229.59,20229.59,65947.93,185265.10,1,0,0
51,15505.73,15505.73,127382.30,35534.17,1,0,0
52,15505.73,15505.73,127382.30,35534.17,1,0,0
53,15505.73,15505.73,127382.30,35534.17,1,0,0
54,15505.73,15505.73,127382.30,35534.17,1,0,0
55,1315.46,1315.46,115816.21,297114.46,0,1,0
56,1000.23,1000.23,124153.04,1903.93,1,0,0
57,542.05,542.05,51743.15,0.00,1,0,0
58,NaN,NaN,135426.92,NaN,0,0,1
59,0.00,0.00,116983.80,45173.06,0,0,1

In [15]:
Y

0     210937.00
1     384664.00
2     210937.00
3     384664.00
4     192261.83
5     191792.06
6     191050.39
7     182901.99
8     166187.94
9     166187.94
10    156122.51
11    156991.12
12    155752.60
13    149759.96
14    152211.77
15    132602.65
16    129917.04
17    146121.95
18    144259.40
19    125370.37
20    141585.52
21    134307.35
22    124266.90
23    122776.86
24    111313.02
25    126992.93
26    108552.04
27    118474.03
28    105733.54
29    105733.54
30    110352.25
31    105008.31
32    108733.99
33    103282.38
34    101004.64
35    107404.34
36    107404.34
37     97427.84
38     99937.59
39     97483.56
40     96778.92
41     96712.80
42     96479.51
43     89949.14
44     81005.76
45     78239.91
46     90708.19
47     77798.83
48     71498.49
49     65200.33
50     81229.06
51     69758.98
52     69758.98
53     69758.98
54     69758.98
55     49490.75
56     64926.08
57     35673.41
58     42559.73
59     14681.40
Name: Profit, dtype: float64

In [17]:
X["R&D Spend"].fillna(X["R&D Spend"].mean())
X['Sales'].fillna(X['Sales'].mean())
X['Administration'].fillna(X['Administration'].mean())
X['Marketing Spend'].fillna(X['Marketing Spend'].mean())
X

,R&D Spend,Sales,Administration,Marketing Spend,State_Chennai,State_Coimbatore,State_Trichy
0,210983.00,210983.00,20938.00,635.00,1,0,0
1,327849.00,327849.00,28746.00,948.00,1,0,0
2,210983.00,210983.00,20938.00,NaN,1,0,0
3,327849.00,327849.00,NaN,948.00,1,0,0
4,165349.20,165349.20,136897.80,471784.10,1,0,0
5,162597.70,162597.70,151377.59,443898.53,0,0,1
6,153441.51,153441.51,101145.55,407934.54,0,1,0
7,144372.41,144372.41,118671.85,383199.62,1,0,0
8,142107.34,142107.34,91391.77,366168.42,0,1,0
9,142107.34,142107.34,91391.77,366168.42,0,1,0
10,134615.46,134615.46,147198.87,127716.82,0,0,1
11,131876.90,131876.90,99814.71,362861.36,1,0,0
12,130298.13,130298.13,145530.06,323876.68,0,1,0
13,123334.88,123334.88,108679.17,304981.62,0,0,1
14,120542.52,120542.52,148718.95,311613.29,1,0,0
15,119943.24,119943.24,156547.42,256512.92,0,1,0
16,114523.61,114523.61,122616.84,261776.23,1,0,0
17,101913.08,101913.08,110594.11,229160.95,0,1,0
18,100671.96,100671.96,91790.61,249744.55,0,0,1
19,94657.16,94657.16,145077.58,282574.31,1,0,0
20,93863.75,93863.75,127320.38,249839.44,0,1,0
21,91992.39,91992.39,135495.07,252664.93,0,0,1
22,91749.16,91749.16,114175.79,294919.57,0,1,0
23,86419.70,86419.70,153514.11,0.00,1,0,0
24,78389.47,78389.47,153773.43,299737.29,1,0,0
25,78013.11,78013.11,121597.55,264346.06,0,0,1
26,77044.01,77044.01,99281.34,140574.81,1,0,0
27,76253.86,76253.86,113867.30,298664.47,0,0,1
28,75328.87,75328.87,144135.98,134050.07,0,1,0
29,75328.87,75328.87,144135.98,134050.07,0,1,0
30,73994.56,73994.56,122782.75,303319.26,0,1,0
31,72107.60,72107.60,127864.55,353183.81,1,0,0
32,67532.53,67532.53,105751.03,304768.73,0,1,0
33,66051.52,66051.52,182645.56,118148.20,0,1,0
34,65605.48,65605.48,153032.06,107138.38,1,0,0
35,64664.71,64664.71,139553.16,137962.62,0,0,1
36,64664.71,64664.71,139553.16,137962.62,0,0,1
37,63408.86,63408.86,129219.61,46085.25,0,0,1
38,61994.48,61994.48,115641.28,91131.24,0,1,0
39,61136.38,61136.38,152701.92,88218.23,1,0,0
40,55493.95,55493.95,103057.49,214634.81,0,1,0
41,46426.07,46426.07,157693.92,210797.67,0,0,1
42,46014.02,46014.02,85047.44,205517.64,1,0,0
43,44069.95,44069.95,51283.14,197029.42,0,0,1
44,38558.51,38558.51,82982.09,174999.30,0,0,1
45,28754.33,28754.33,118546.05,172795.67,0,0,1
46,28663.76,28663.76,127056.21,201126.82,0,1,0
47,27892.92,27892.92,84710.77,164470.71,0,1,0
48,23640.93,23640.93,96189.63,148001.11,0,0,1
49,22177.74,22177.74,154806.14,28334.72,0,0,1
50,20229.59,20229.59,65947.93,185265.10,1,0,0
51,15505.73,15505.73,127382.30,35534.17,1,0,0
52,15505.73,15505.73,127382.30,35534.17,1,0,0
53,15505.73,15505.73,127382.30,35534.17,1,0,0
54,15505.73,15505.73,127382.30,35534.17,1,0,0
55,1315.46,1315.46,115816.21,297114.46,0,1,0
56,1000.23,1000.23,124153.04,1903.93,1,0,0
57,542.05,542.05,51743.15,0.00,1,0,0
58,NaN,NaN,135426.92,NaN,0,0,1
59,0.00,0.00,116983.80,45173.06,0,0,1

In [19]:
X.fillna(X.mean(),inplace=True)
X.isnull().sum()

R&D Spend           0
Sales               0
Administration      0
Marketing Spend     0
State_Chennai       0
State_Coimbatore    0
State_Trichy        0
dtype: int64

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.20, random_state=0)

In [25]:
from sklearn.linear_model import LogisticRegression
regr = LogisticRegression()
regr.fit(X_train, Y_train)

ValueError: Unknown label type: continuous. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv(r"C:\Users\santosh nandam\Downloads\titanic (1).csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
df.dropna(inplace=True)

In [9]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [11]:
df.drop("Cabin",axis =1 ,inplace =True)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,S
...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C

In [13]:
sex=pd.get_dummies(df["Sex"],drop_first=True)

In [15]:
sex=sex.astype(int)
sex

     male
1       0
3       0
6       1
10      0
11      0
..    ...
871     0
872     1
879     0
887     0
889     1

[183 rows x 1 columns]

In [17]:
Embark=pd.get_dummies(df["Embarked"],drop_first=True)

In [19]:
Embark=Embark.astype(int)

In [21]:
Embark

     Q  S
1    0  0
3    0  1
6    0  1
10   0  1
11   0  1
..  .. ..
871  0  1
872  0  1
879  0  0
887  0  1
889  0  0

[183 rows x 2 columns]

In [23]:
Pcl=pd.get_dummies(df["Pclass"],drop_first=True)

In [25]:
Pcl=Pcl.astype(int)

In [27]:
Pcl

     2  3
1    0  0
3    0  0
6    0  0
10   0  1
11   0  0
..  .. ..
871  0  0
872  0  0
879  0  0
887  0  0
889  0  0

[183 rows x 2 columns]

In [29]:
df=pd.concat([df,sex,Embark,Pcl],axis=1)

In [31]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,male,Q,S,2,3
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,0,0,0,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,0,0,1,0,0
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,S,1,0,1,0,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,S,0,0,1,0,1
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,S,0,0,1,0,0

In [33]:
df.drop(["Sex","Embarked","PassengerId","Pclass","Name","Ticket"],axis=1,inplace=True)

In [35]:
df

     Survived   Age  SibSp  Parch     Fare  male  Q  S  2  3
1           1  38.0      1      0  71.2833     0  0  0  0  0
3           1  35.0      1      0  53.1000     0  0  1  0  0
6           0  54.0      0      0  51.8625     1  0  1  0  0
10          1   4.0      1      1  16.7000     0  0  1  0  1
11          1  58.0      0      0  26.5500     0  0  1  0  0
..        ...   ...    ...    ...      ...   ... .. .. .. ..
871         1  47.0      1      1  52.5542     0  0  1  0  0
872         0  33.0      0      0   5.0000     1  0  1  0  0
879         1  56.0      0      1  83.1583     0  0  0  0  0
887         1  19.0      0      0  30.0000     0  0  1  0  0
889         1  26.0      0      0  30.0000     1  0  0  0  0

[183 rows x 10 columns]

In [37]:
x=df.drop("Survived",axis=1).values
y=df["Survived"].values

In [39]:
x

array([[38.,  1.,  0., ...,  0.,  0.,  0.],
       [35.,  1.,  0., ...,  1.,  0.,  0.],
       [54.,  0.,  0., ...,  1.,  0.,  0.],
       ...,
       [56.,  0.,  1., ...,  0.,  0.,  0.],
       [19.,  0.,  0., ...,  1.,  0.,  0.],
       [26.,  0.,  0., ...,  0.,  0.,  0.]])

In [41]:
y

array([1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 1], dtype=int64)

In [43]:
df.dtypes

Survived      int64
Age         float64
SibSp         int64
Parch         int64
Fare        float64
male          int32
Q             int32
S             int32
2             int32
3             int32
dtype: object

In [45]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.20,random_state=100)

In [47]:
from sklearn.linear_model import LogisticRegression
regr=LogisticRegression()
regr.fit(x_train,y_train)

C:\Users\santosh nandam\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [49]:
Y_pred=regr.predict(x_test)
Y_pred

array([1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1], dtype=int64)

In [51]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,Y_pred)

0.8108108108108109

In [55]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()
clf.fit(x_train,y_train)

DecisionTreeClassifier()

In [59]:
y_pred=regr.predict(x_test)
y_pred

array([1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1], dtype=int64)

In [63]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8108108108108109